<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="csrf-token" content={get_csrf_token()} />
    <meta name="description" content="Shield your SaaS from fake sign-ups with a lightning-fast, transparent fraud detection API."/>
    <meta property="og:title" content="One Instant API. Transparent Protection from Fake Sign-ups."/>
    <meta property="og:description" content="Shield your SaaS from fake sign-ups with a lightning-fast, transparent fraud detection API."/>
    <meta property="og:image" content="/images/mailbloc_logo.png"/>
    <meta property="og:image:width" content="1200"/>
    <meta property="og:image:height" content="600"/>
    <meta property="og:image:alt" content="One Instant API. Transparent Protection from Fake Sign-ups."/>
    <meta name="twitter:card" content="summary_large_image"/>
    <meta name="twitter:title" content="One Instant API. Transparent Protection from Fake Sign-ups."/>
    <meta name="twitter:description" content="Shield your SaaS from fake sign-ups with a lightning-fast, transparent fraud detection API."/>
    <meta name="twitter:image" content="/images/mailbloc_logo.png"/>
    <meta name="twitter:image:width" content="1200"/>
    <meta name="twitter:image:height" content="600"/>
    <meta name="twitter:image:alt" content="One Instant API. Transparent Protection from Fake Sign-ups."/>
    
    <.live_title suffix=" · One Instant API. Transparent Protection from Fake Sign-ups.">
      {assigns[:page_title] || "Mailbloc"}
    </.live_title>
    
    <link phx-track-static rel="stylesheet" href={~p"/assets/css/app.css"} />
    <link rel="icon" type="image/png" href="/images/mailbloc_logo.png" sizes="32x32" />
    <link rel="apple-touch-icon" href="/images/mailbloc_logo.png" />
    
    <script defer phx-track-static type="text/javascript" src={~p"/assets/js/app.js"}></script>
    <script src="https://challenges.cloudflare.com/turnstile/v0/api.js" async defer></script>
  </head>
  <body class="min-h-full bg-base-100">
    {@inner_content}
  </body>
</html>